<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> list of pet owners</title>
</head>
<body>
<h1 th:text="'owner list'">owner list</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>LastName</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
    <!--/*@thymesVar id="owner" type=""*/-->
    <td th:text="${owner?.id}">1</td>

    <!--/*@thymesVar id="firstName" type=""*/-->

    <td th:text="${owner?.firstName}">EngAhmed</td>
    <!--/*@thymesVar id="lastName" type=""*/-->
    <td th:text="${owner?.lastName}">Elsayed</td>
    </tr>
    </tbody>
</table>
</body>
</html>